body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  height: 50px;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: lightgrey;
}

.header Button {
  height: 75%;
}

.banner {
  height: 500px;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.banner img {
  height: 100%;
}
